<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <link rel="icon" href="/static/sprite/icons/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" type="text/css" href="../../../static/style/gameStyle.css">
        <title>Three Labors of Hermes</title>
        <script type="module" src="../../../static/js/main.js" defer></script>
    </head>
    <body>
        <div class="game">

        </div>
        <div class="menu">
            
        </div>
    </body>
</html>